@import url('https://fonts.googleapis.com/css?family=Varela+Round');
$width: 314px;
$height: 120px;
body{
  font-family: 'Varela Round', sans-serif;
  direction: rtl;
  #headers{
    position: absolute;
    left: 50%;
    top: 50%;
    width: $width;
    height: $height;
    margin-left: -0.5 * $width;
    margin-top: -0.5 * $height;
    text-align: center;
  }
}
